<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/bootstrap/dist/css/bootstrap.css" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    <div>
        <header>
            <div class="navbar navbar-expand navbar-dark bg-dark">
                <h1 class="navbar-brand h1">Data</h1>
                <div>
                    <ul>
                        <li>@Html.ActionLink("Ajax", "Index", "Ajax")</li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/JS/PartialViewScript.js"></script>
    <script src="~/Scripts/PeopleScript.js"></script>
</body>
</html>