@model List<Person>

<div class="row">
    @{
        if (Model != null)
        {
            foreach (Person person in Model)
            {
                <div class="col-3 card">
                    <p>Id: @person.Id</p>
                    <p>@person.FirstName @person.LastName</p>
                    @Html.ActionLink("Remove", "Remove", new { id = person.Id })
                </div>
            }
        }
    }
</div>