

<div>
    <h1>Person but with Ajax</h1>
    <div>
        <div id="errorMsg"></div>

        <input type="button" class="btn btn-primary" onclick="getPeople()" value="Get all people" />

        <label for="PersonIdInputLabel">Person Id</label>
        <input id="PersonIdInput" type="number" />

        <input type="button" class="btn btn-primary" onclick="getPersonById()" value="DetalisForPerson" />
        <input type="button" class="btn btn-primary" onclick="deletePersonById()" value="Delete" />
    </div>

    <div id="PersonList"></div>
</div>
