@model PersonCreateViewModel
@{
    ViewData["Title"] = "Person Index";
}

<h1>Person Index</h1>

<div>
    <div class="row">
        <div class="col-6">
            <p class="h5">List of People</p>
        </div>
    </div>
    <div>
        <partial name="PeopleList" />
    </div>
    <div class="row">
        <div class="col-md-5">
            <p class="h5">Search</p>
        </div>
        <div class="col-md-5">
            <form asp-action="Search" method="post">
                <div class="form-group">
                    <label asp-for="FilterString" class="control-label"></label><br />
                    <input asp-for="FilterString" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p class="h5">Create new Person</p><br />
        </div>
        <div class="col-md-5">
            <form asp-action="Index" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label><br />
                    <input asp-for="FirstName" class="form-control">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label><br />
                    <input asp-for="LastName" class="form-control"><br>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label><br />
                    <input asp-for="PhoneNumber" class="form-control"><br>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label><br />
                    <input asp-for="City" class="form-control"><br>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


</div>

